.ant-list-item {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 32px !important;

  border-radius: 20px;
  margin-bottom: 20px !important;
  width: 100% !important;
}
a {
  color: rgb(48, 47, 47);
}
.ant-list-item:nth-child(odd) {
  background-color: #f2f2f2;
}

.ant-pagination {
  text-align: center;
}
.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-options-size-changer,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  display: none !important;
}

.share {
  position: absolute;
  float: right;
  right: 0px;
}
.container {
  margin-top: 40px;
}
